In [43]:
from path import Path
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [48]:
# Files to load 
colorado_offense_to_load_da = "file_encoded.csv"

In [49]:
# Read the DenverCrime file and store it in a Pandas DataFrame.
colorado_offense_to_load_da = pd.read_csv(colorado_offense_to_load_da)
colorado_offense_to_load_da

,DATA_YEAR_x,INCIDENT_DAY,INCIDENT_HOUR,MONTH_NUM,OFFENSE_TYPE_ID_Burglary,OFFENSE_TYPE_ID_Robbery,LOCATION_ID_Commercial,LOCATION_ID_Government,LOCATION_ID_Residence
0,2019,16,18,10,1,0,0,0,1
1,2019,18,17,7,1,0,0,0,1
2,2019,14,18,10,1,0,0,0,1
3,2019,9,17,8,1,0,0,0,1
4,2019,7,17,12,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...
54925,2016,30,18,3,1,0,0,0,1
54926,2016,4,4,8,1,0,0,0,1
54927,2016,21,11,6,1,0,0,0,1
54928,2016,22,15,6,1,0,0,0,1
54929,2016,4,7,3,1,0,0,0,1

# Separate the Features (X) from the Target (y)

In [50]:
y = colorado_offense_to_load_da["MONTH_NUM"]
X = colorado_offense_to_load_da.drop(columns="MONTH_NUM")

# Split our data into training and testing

In [51]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(41197, 8)

# Create a Logistic Regression Model

In [52]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

# Fit (train) or model using the training data

In [53]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [54]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            7      11
1            9       8
2            7      10
3            7       2
4            7       9
5            7       5
6            9       5
7            7       1
8            7       5
9            7      11
10           7       9
11           7       1
12           7      10
13           7       5
14           7       2
15           7       3
16           7       8
17           9       8
18           7       7
19           7       2

In [55]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.09524503021918007